<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="theme.css">
    <title>Vue v3.0 basics</title>
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="card">
            <h1 :style="{
                color: inputValue.length < 5 ? 'darkred' : 'darkgreen',
                fontSize: inputValue.length < 5 ? '1.5rem' : '2rem'}">{{title}}</h1> <!--интерполяция, вставляем обьект из js. внутри интерполяции можно испоьзовать люой JS {{ (counter +2 )*5}}-->
            <div>
               <!-- <button class="btn primary" v-on:click="counter++">Plus</button>--> <!-- v-on:click -директива, как eventListener-->
                <!--<button class="btn danger" v-on:click="counter--">Minus</button>>-->
                <div class="form-control">
                    <input 
                        type="text" 
                        :placeholder="placeholderName" 
                        v-model="inputValue"                           
                        @keypress.enter="addNewNote"
                    >
                </div>
                <!--v-bind: - директива, добавление данных, когда динамически передаем значение атрибута ({{ двойные скобки уже не еужны}})-->
                <!--v-bind - можно заменить ярлыком, обычным двоеточием-->
                <!--v-on заменяют "@"-->
                <!--computed вычиляемые данные-->
                <button class="btn" v-on:click="addNewNote">Add</button>
                <hr />
                <ul class="list" v-if="notes.length">
                    <li class="list-item" v-for="(note, idx) in notes">
                        <!--<span :class="note.length < 5 ? 'primary' : 'danger'">({{idx + 1}}) {{ toUpperCase(note) }}</span>-->
                        <!-- <span :class="{
                            'primary' : note.length < 5,
                            'danger' : note.length > 5
                        }">({{idx + 1}}) {{ toUpperCase(note) }}</span> -->
                        <span :class="['bold', {'primary' : note.length < 5}]">({{idx + 1}}) {{ toUpperCase(note) }}</span>
                        <button class="btn danger" v-on:click="removeNote(idx)">Remove</button>
                    </li> 
                    <li><strong>Overall: {{notes.length}}</strong> Doubled: {{doubleCount}}</li>                   
                </ul>
                <!-- v-for директива, цикл. аналог foreach-->                
                <p v-else>No available notes</p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>

<!--v-model и тащит значение и следит за изменениями, заменяем бандинг и eventListener-->
<!--
    :style когда нужно прикрутить динамику, можем любой js код написать
    :class когда имя класса будет зависеть от условий, второй вариант это если нужно больше двух вариантов описать условий
            третий вариант это как class='bold' :class{'primary' : note.length < 5} (статичный совмещен с динамическим)
    
-->